Hallo

Der Link hier geht zur URL "/idk_somwhere_else_i_guess". In views.py steht dann, dass 
somwhere_else.html gezeigt werden soll. So kann man die Dateipfade von der URL treffen.

Der Ordnername ist übrigens wichtig, es muss templates heißen. Flask sucht soweit ich weiß
automatisch in dem Ordner nach der richtigen html Datei. Deswegen fangen auch die Dateipfade
nicht mit "/templates" an, das passiert automatisch.

<div> <a href="/idk_somwhere_else_i_guess">this is how you switch between pages.</a> </div>

